*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
**.egg-info
**.so
diff_rasterization/dist

pretrained/yolov9e-seg.pt
pretrained/raft-things.pth
cameras.json
*.ply
*.mp4
datasets
wandb

result*
